body {
    background-color: white;
    font-family: 'Inter', sans-serif;
    color: black;
}

.nome {
    margin-top: 20px;
}

.foto-perfil img {
    width: 300px;
    border-radius: 50px;
    margin-left: 50px;
    margin-top: 20px;
    background: #e0e0e0;
    box-shadow:  35px 35px 70px #bebebe,
             -35px -35px 70px #ffffff;

}


.texto {
    
    text-align: center;
    border-radius: 15px;
    max-width: fit-content;
    margin-left: 130px;
    margin-right: 140px;
    padding: 40px;
    font-size: 120%;
    margin-top: 20px;
    line-height: 1.5;
    background: #e0e0e0;
    box-shadow:  35px 35px 70px #bebebe,
             -35px -35px 70px #ffffff;

} 

.header {
    display: flex;
    margin: auto;
}

.listas {
    display: flex;
    margin: auto;
    
}

.lista1 {  
    width: 20%;
    height: 50%;
    margin-left: 510px;
    padding:10px;
    text-align: left;
    background-color: #C2C2C2;
    border-radius: 50px;
    
    line-height: 2.5;
    background: #e0e0e0;
    box-shadow:  35px 35px 70px #bebebe,
             -35px -35px 70px #ffffff;





}

.lista2 {
    width: 20%;
    height: 50%;
    margin-left: 100px;
    padding: 10px;
    text-align: left;
    background-color: #C2C2C2;  
    border-radius: 50px;
    line-height: 2.5;
    line-height: 2.5;
    background: #e0e0e0;
    box-shadow:  35px 35px 70px #bebebe,
             -35px -35px 70px #ffffff;
}


   

.icone {
    width: 30px;
    margin-right: 10px;
    margin-left: 40px;
    
    
}

h2 {
    text-align: center;
    font-size: 150%;
}